/* My styles */

#container {
    background: black;
}

#sidebar {
    color: white;
}

#input-area {
    background: #454A4D;
}

#input {
    background: black;
	color: white;
}

.username {
    color: white;
	font-weight: bold;
	font-size: 1em;
    padding-bottom: 2px;
}

.messages {
    background: black;
}

.onebox {
    background: #6a6e70 !important;
}

.messages {
    color: white;
	border-radius: none !important;
}

.system-message {
    color: white;
}

.mine .messages {
    background: #7c8082;
}

.monologue {
    margin-bottom: 4px;
}

.monologue .timestamp {
    background: black;
	color: white;
}

.meta {
    background: black;
	color: white;
}

.selected {
    color: black;
}

.mention {
    background: #7c8082;
	padding: 2px;
}

.msg-small {
    color: white;
}

/* End my styles */ 
